In [15]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
dataset = pd.read_csv("nhanes_2015_2016.csv")

In [3]:
dataset.shape

(5735, 28)

In [4]:
dataset.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [5]:
# df = df[df['EPS'].notna()]
# before removing missing value (5735, 28)
bpxsy2_no_empty = dataset[dataset['BPXSY2'].notna()] # dataset.dropna(dataset.loc[:, 'BPXSY2'])
# after removing missing value (5535, 28)

In [6]:
bpxsy2_no_empty.shape
# bpxsy2.shape

(5535, 28)

#### Q1. What is the median?

In [10]:
bpxsy2_no_empty.BPXSY2.median() # ==> 122.0

122.0

#### Q2. What is the mean

In [11]:
bpxsy2_no_empty.BPXSY2.mean() # ==> 124.8

124.78301716350497

#### Q3. What is the standard deviation

In [12]:
bpxsy2_no_empty.BPXSY2.std() # ==> 18.5

18.527011720295047

#### Q4. What is the max

In [13]:
bpxsy2_no_empty.BPXSY2.max() # ==> 238.0

238.0

#### Q5. What is the Interquartile Range IQR

In [14]:
#calculate interquartile range of values in the 'points' column # ==> 22.0
q75, q25 = np.percentile(bpxsy2_no_empty.BPXSY2, [75 ,25])
iqr = q75 - q25

#display interquartile range 
iqr

22.0